@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

*{
  box-sizing: border-box;
}
body{
  margin: 0;padding: 0;
  background: #edf6f7;  
  overflow-y: hidden;
  font-family: 'Nunito', sans-serif;  
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
  -moz-appearance: textfield;
}
th,td{vertical-align:middle;border:0 !important;padding:10px !important;}
button:focus{
  outline:none !important;
  box-shadow:none !important;
}
.btn-theme{
  background-color:#EE4491 !important;color:#fff !important;
}
.btn-theme-secondary{
  background-color:#252D65 !important;color:#fff !important;
}
.btn-theme-new{
  background-color:#03BFD7 !important;color:#fff !important;
}
.btn-outline-theme{
  border:1px solid #EE4491 !important;
}
.bg-light-theme{
  background:#ebf7e6 !important;
}

.text-theme{color:rgba(36, 45, 101,.85);font-size:22px;font-weight:600;}
.text-theme-blue{color:rgba(36, 45, 101,.85);}

.bg-marks{background-color:#d0e5db !important;color:#000 !important;}
.form-control, select{
  border:1px solid rgba(36, 45, 101,.2) !important;
  height:45px;border-radius:3px !important;
}
.searchWrapper{padding:8px 10px !important;border-color:rgba(36, 45, 101,.2) !important;}
.chip{
  background:#EE4591 !important;
  font-size: 10px !important;margin-bottom: 3px !important;padding: 0px 6px !important;
}

select, option{font-size:15px;color:#677985 !important;}
.form-label{
  margin-bottom:2px !important;
  font-size:13px;color:rgba(0,0,0,.8);font-weight:400;
}
.hrline{background-color:#677985;margin-top:0;}

input:focus, select:focus{
  box-shadow: none !important;outline: 0 !important;
}
.btn-success{
  background-color: #22b14c !important;
  border: 0 !important;
}
.text-success{color:#22b14c;font-weight: 500;}
.main{
  -border: 1px solid red;
  display: flex;
 background-color: #edf6f7;
 height: 100%;
}

.profile{
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
.profile h6{
  font-weight: 600;
  font-size: 16px;
}
.profile .dropdown-menu{
  width: 300px;
  padding: 20px 10px;
  border: 0;
  text-align: center;
  top:48px !important;
}
.circle-profile {
  background-color: #015bb2;
  border: 1px solid #015bb2;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 40px;
  line-height: 37px;
  margin-left: 10px;
  text-align: center;
  width: 40px;
  font-weight: 600;
}
.circle-profile.teacher-prof{
  background-color: #EE4491 !important;
  border: 1px solid #EE4491 !important;
}
 .student-prof{
  background-color:#00BDD6 !important;
  border: 1px solid #00BDD6 !important;
}
.reviewver-prof{
  background-color: #66C284 !important;
  border: 1px solid #66C284 !important;
}
.dropstart .dropdown-toggle::before {
  vertical-align: 0;
  display: none !important;
}

.sticky-header{
  -border:1px solid red;
  position: sticky !important;top: 0px;
  z-index: 999;
  background: transparent;
}
.sticky-header .bdr-btm{
  border-bottom: 1px solid #f0f0f0;
}

.right-q{  
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 29px;border-radius: 50%;
  background-color: #22b14c;
  color:#fff;
}

/****analytics-table*****/
.analytics-table{
  border-radius: 10px;
}
.analytics-table tr th, .analytics-table tr td{
  border: 1px solid #ddd !important;
  font-size: 14px;font-weight: 500;
  text-align: center;
  color: #015BB2;
  padding: 5px !important;
}
.analytics-table tr td{
  color:grey;font-weight: 400;font-size: 12px;
}
.accordion-button{
  border-radius: 10px !important;
  font-weight: 500;color: #015BB2 !important;  
}
.accordion-button:not(.collapsed){
  background-color: #fff !important;
  box-shadow: none !important;
}
.edit-data{
  -border: 1px solid red;
  position: absolute;top: -8px;
  width: 20px;
  display: inline-block;
  text-align: center;
  width: 25px;border-radius: 50%;
  background-color: #dee3f7;
  box-shadow: 0 1px 1px silver;
  cursor: pointer;
}
.edit-data i{
  font-size: 13px;
}

/***Sidebar*****/
.sidebar{
  width: 250px; 
  padding: 15px;
  background-color: #fff;
  -border-right: 1px solid #ddd;
  -height: 100vmax;
  height: 100vh;
  overflow-y: auto;
}
.sidebar .logo{
  width: 95%;
  margin: auto;
  display: block;
  height: 60px;
object-fit: contain;
}
.sidebar .menu{
  list-style: none;
  padding:0;
}
.sidebar .menu li{
  margin-bottom:5px;
  
}
.sidebar .menu li a{
  text-decoration: none;
  color: #677985; padding: 5px 10px;
  display:block;
  border:1px solid #c5e5e8;
  border-radius:5px;font-size:13px;
  background-color:rgba(237, 246, 247,.95);
}

/****End****/

.content{
  -border: 1px solid red;  
  width: 100%;
  height: 100vh;
  overflow-y: auto !important;
}
.inner-content{
  padding: 5px 25px 25px 25px;
}
.inner-content .questions-card .txtbox{
  width: 150px;margin-right: 10px;
}
.inner-content .questions-card{
  -box-shadow: 0 2px 3px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  margin-bottom: 15px;
}
.questions-card h6{
  margin-bottom: 25px;color: #677985;
  position: relative;font-weight: 500;
  padding-left: 0px;  
}
.title-q h6{
  padding-left: 35px;
}
.questions-card h6 span{
  content: '';
  -border: 1px solid red;
  width: 25px;height: 25px;margin-right: 5px;
  display: inline-block;text-align: center;line-height: 23px;
  border-radius: 50px;background-color: #F05C9F;color:#fff;
  position: absolute;left: 0;
}
.select-type{
  background-color: #fff !important;
  border:1px solid #677985;
}
.arithmatic-operator{
  position: absolute;
  bottom: 0px;font-weight: 600;
  left: 0;
}
.image-question{
  width: 180px;
  -border: 1px solid #ddd;
  text-align: center;margin-right: 10px;
  border-radius: 3px;
  position: relative;
}
.ps-36{
  padding-left: 36px;
}

.test-details-filter, .test-details-filter option{
  font-size: 11px !important;
}
/******note*******/

.note{
  border:2px dashed red;
  padding:15px;border-radius:5px;
}
.note ul li{
  color:grey;
  font-size:14px;
}

/****question-list***/

.question-list th{
  font-size:13px;
  font-weight:700;
  background-color:#f9f9f9 !important;
  padding:15px 10px !important;
  color:rgba(0,0,0,.6)
}
.table > :not(:first-child) {
  border-top: 0 !important;
}

.question-list thead tr th:first-child{
  border-top-left-radius:5px !important;
  border-bottom-left-radius:5px !important;
}
.question-list thead tr th:last-child{
  border-top-right-radius:5px !important;
  border-bottom-right-radius:5px !important;
}
.question-list tr th:first-child, .question-list tr th:nth-child(2), 
.question-list tr th:last-child{
    -border:1px solid red !important;
    width:50px;
}

.question-list tr th:nth-child(4){
  -border:1px solid red !important;
  width:65%;
}
.question-list tr td{
  color:#667884;
  padding:15px !important;
}
.dropdown-toggle::after{display:none !important;}

.vertical-math{
  -max-width:350px;
}
.vertical-math .fvalue{
  margin-left:75px;
}

.card-height{
  -border:1px solid red !important;
  border:0 !important;
  -height:430px;
  -overflow-y:auto;
}

/****Radio******/

/****Upload Image******/
.dropZoneOverlay,
.FileUpload {
 width: 100%;
   height: 125px;
   line-height: 120px;
   border-radius: 5px;
}
.dropZoneOverlay  {
  border: 2px dotted #d2d2d2;
  -font-family: cursive;
 font-family: "Rubik", sans-serif;
  color: #7066fb;
  position: absolute;
  top: 0px;
  text-align: center;
  font-size: 14px;
}

.FileUpload {
  opacity: 0;
  position: relative;
  z-index: 5;
}

/* FORM */

.form .plan input, .form .payment-plan input, .form .payment-type input{
	display: none;
}
.form .plan{
  display: flex;
}
.form label{
	position: relative;
	color: #000;
	background-color: #fff;
	font-size: 15px;
	text-align: center;
	height: 180px;	
	display: flex;justify-content: center;align-items: center;
	cursor: pointer;
	border: 2px solid #ddd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  border-radius: 5px;
  padding: 15px 0;
  font-weight:500;
}
.border-radio{
  height: auto !important;
  justify-content: flex-start !important;
  padding: 10px !important;
}

.form .plan input:checked + label, .form .payment-plan input:checked + label, .form .payment-type input:checked + label{
	border: 2px solid #22b14c;
	background-color: #fff;
}

.form .plan input:checked + label:after, form .payment-plan input:checked + label:after, .form .payment-type input:checked + label:after{
	content: "\2713";
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 100%;
	border: 0;
	background-color: #22b14c;
	z-index: 999;
	position: absolute;
	top: -10px;
	right: -10px;
  color: #fff;
}


/************/

.computer-screen{
  border:10px solid #242D65;  
  position:relative;
  border-radius:15px;  
  -perspective: 600px;
}
.computer-screen img{border-radius:15px; width:100%;height:100%; }
.computer-screen:before{
  content:'';
  width:20px;
  height:35px;
  background:#242D65;
  position:absolute;
  bottom:-35px;
  left:50%;
  transform:translateX(-50%);
}
.computer-screen:after{
  content:'';
  width:120px;
  height:60px;
  background:#242D65;
  position:absolute;
  margin:auto;
  left:0;
  right:0;
  border-radius:5px;
  transform: rotateX(60deg);
  bottom:-70px;
}


/******Checkbox*****/

.select-qoestion {
  background-color: #fff;
  display: block;
  margin: 10px 0;
  position: relative;
  border-radius:5px;
  transition: .5s;
}
.select-qoestion label.lbl {
  padding: 12px 30px;
  width: 100%;
  display: block;
  text-align: left;
  color: #3C454C;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
  border-radius:5px;
  border: 1px solid transparent !important;
}
.select-qoestion label.lbl:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: '';
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
  width:100%;
}

.select-qoestion.test_details label.lbl:after{
  top:90px !important
} 
.select-qoestion label.lbl:after {
  width: 32px;
  height: 32px;
  content: '';
  border: 2px solid #D1D7DC;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 20px;
  top: 40px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
  background-color: #ddd;
}
.select-qoestion input.chbx:checked ~ label.lbl {
  color: #000;
  border: 1px solid rgba(238, 68, 145,.7) !important;
}
.select-qoestion input.chbx:checked ~ label.lbl:before {
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}
.select-qoestion input.chbx:checked ~ label.lbl:after {
  background-color: #EE4491;
  border-color: #EE4491;
  opacity:1;
}
.select-qoestion input.chbx {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}
/* .select-qoestion .form {
  padding: 0 16px;
  max-width: 1160px;
  margin: 50px auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
} */

.count-box{
  border:1px solid red;
  width: 75px;height: 75px;border-radius: 50%;
  background-color: #ddd;
  text-align: center;
  display: flex;place-items: center;
  justify-content: center;
}
.select-type, .searchWrapper{
  background-image: url('https://cdn-icons-png.flaticon.com/512/142/142051.png');
  background-size: 12px;
  background-position: 97% center;
  background-repeat: no-repeat;
}
.searchWrapper{
  background-position: 98.7% center;
}
.highlightOption{
  background:#EDF6F7 !important;
  color:#333 !important;
}
.multiSelectContainer li:hover {
  background: #EDF6F7 !important;
  color: #000 !important;  
}

/******Badge******/

.bg-color1{
  border:1px solid #badfe2 !important;
  background-color: #dcf2f4 !important;  
}
.bg-color2{
  border:1px solid #9fdda1 !important;
  background-color: #d5f2d6 !important;
}
.bg-color3{
  border:1px solid #ef8bb8 !important;
  background-color: #f7cfe1 !important;
}

.bg-color4{
  border:1px solid #7babd8;
  background-color: #d3e0ed;
}

.bg-color5{
  border:1px solid #5fd1dd;
  background-color: #d0eef2;
}

.bg-color6{
  border:1px solid #ce664c;
  background-color: #f2e0dc;
}

.create-question select, .searchBox {
  font-size: 13px;
}
.subject{
  color:#015bb2;
}

select{
  font-size: 13px !important;
}
input[type="text"], input[type="date"]{
  font-size: 13px !important;
}

/*********Pagination*********/

.pagination-outer{ text-align: center; }
.pagination{    
    display: inline-flex;
    position: relative;
    justify-content: center;
    margin-bottom: 0;
}
.pagination li a.page-link{
    color: #000;    
    font-size: 17px;
    font-weight: 500;
    line-height: 34px;
    height: 35px;
    width: 36px;
    padding: 0;
    margin: 0 8px;
    border: none;
    border-radius: 3px;   
    transition: all 0.3s ease 0s;
    cursor: pointer;
    background-color: #ddd;
}
.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link:hover,
.pagination li.active a.page-link{
    color: #fff;
    background: #03BFD7;
    -border-radius: 0;
    opacity: 1;
}
.pagination li.done-que a.page-link{
  background:#5FBF7F;
}
.pagination.next-prev li:first-child a.page-link,
.pagination.next-prev li:nth-child(2) a.page-link{
    font-size: 14px;
    width: auto;height: auto;
    padding: 3px 12px;
    border-radius: 3px;
    color: #fff;
}
.pagination.next-prev li:first-child a.page-link{
  background: linear-gradient(rgba(37, 45, 101,.55),#5e649e);
}
.pagination.next-prev li:nth-child(2) a.page-link{
  padding: 3px 65px;
  background: linear-gradient(rgba(37, 45, 101,.85),#252D65);
}
@media only screen and (max-width: 480px){
    .pagination{
        font-size: 0;
        display: inline-block;
    }
    .pagination li{
        display: inline-block;
        vertical-align: top;
        margin: 5px 0;
    }
}

.timer-box > div{
  margin: 3px;
}
.timer-box span{
  border:1px solid #60BF80;
  display: inline-block;
  width: 35px;text-align: center;
  height: 33px;line-height: 30px;
  border-radius: 3px;font-size: 13px;
  color:#fff;
  -background: linear-gradient(rgba(37, 45, 101,.75),#252D65);
  background: #60BF80;
}
.timer-box .green-box:nth-child(2) span{
  border: 1px solid rgba(96, 191, 128,.7);
  background-color: rgba(96, 191, 128,.7);
}
.timer-box .green-box:nth-child(3) span{
  border: 1px solid rgba(96, 191, 128,.5);
  background-color: rgba(96, 191, 128,.5);
}
.timer-box small{
  font-size: 11px;
  display: block;
  color:#252D65;
}


.result-table{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  list-style: none;
  gap: 10px;
  padding: 0;margin: 0 0 0px;
}
.result-table li{
  border: 1px solid #ddd;
  flex-basis: 15%;
  text-align: center;
  padding: 0px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.result-table li p{
  margin-bottom: 0;font-weight: 600;
  color:grey;
}

.result-table small{
  color:#089faf;font-size: 12px;
}


.qlist{
  accent-color: #EE4491;
  width: 12px;height: 12px;
}

.qlist-checked{
  width: 15px;height: 15px;
}